.need-scroll{
	overflow: auto;
}

.input-xs{
  display: auto ;
  width: 30px ;
  padding: 5px 1px ;
  margin-bottom: 3px;
  margin-top: 3px;
}

.input-md{
  display: auto ;
  width: 70px ;
  padding: 5px 1px ;
  margin-bottom: 3px;
  margin-top: 3px;
}

.input-nm{
  display: auto ;
  width: 120px ;
  padding: 5px 1px ;
  margin-bottom: 3px;
  margin-top: 3px;
}